<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', "#{Rails.application.frontend_url}/auth/email-confirm/#{@token}" %></p>
