<p>Hello <%= @resource.username %>,</p>

<p>Someone requested a link to change your Puzler password. You can do this through the link below:</p>

<p><%= link_to "Reset my password", "#{ENV.fetch('FRONTEND_URL', 'http://localhost:5173')}/reset-password?token=#{@token}" %></p>

<p>If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>
